.banner {
	background-image: linear-gradient(176deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.3) 40%), url(../../images/background-ocean.jpg);
	color: white;
	padding: 200px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 50px
	color: #fff;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 10;
	margin-bottom: 40px;
	color: #fff;
}
